---
import { getHomePermalink } from '~/utils/permalinks';
---

<section class="flex h-full items-center p-16">
	<div class="container mx-auto my-8 flex flex-col items-center justify-center px-5">
		<div class="max-w-md text-center">
			<h2 class="mb-8 text-9xl font-bold">
				<span class="sr-only" data-i18n="common.error">Error</span>
				<span
					class="bg-gradient-to-r from-primary-500 to-secondary-500 bg-clip-text text-transparent"
					data-i18n="error404.title">404</span
				>
			</h2>
			<p class="text-3xl font-semibold md:text-3xl" data-i18n="error404.message">抱歉，我们找不到这个页面。</p>
			<p class="mb-8 mt-4 text-lg text-gray-600 dark:text-slate-400" data-i18n="error404.description">
				别担心，您可以在我们的首页找到更多精彩内容。
			</p>
			<a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4" data-i18n="error404.backHome">返回首页</a>
		</div>
	</div>
</section>
