---
import { Icon } from 'astro-icon/components';

const items = [
	{
		titleKey: 'pillars.curriculum.title',
		descKey: 'pillars.curriculum.desc',
		icon: 'flat-color-icons:graduation-cap',
	},
	{
		titleKey: 'pillars.evaluation.title',
		descKey: 'pillars.evaluation.desc',
		icon: 'flat-color-icons:multiple-inputs',
	},
	{
		titleKey: 'pillars.teacher.title',
		descKey: 'pillars.teacher.desc',
		icon: 'flat-color-icons:conference-call',
	},
	{
		titleKey: 'pillars.space.title',
		descKey: 'pillars.space.desc',
		icon: 'flat-color-icons:business-contact',
	},
];
---

<section class="relative">
	<div class="pointer-events-none absolute inset-0 mb-32 bg-primary-50 dark:bg-slate-800" aria-hidden="true"></div>
	<div class="relative mx-auto max-w-6xl px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p
					class="text-base font-semibold uppercase tracking-wide text-primary-600 dark:text-primary-200"
					data-i18n="pillars.tag"
				>
				</p>
				<h2
					class="leading-tighter font-heading mb-4 text-4xl font-bold tracking-tighter md:text-5xl"
					id="education"
					data-i18n="pillars.title"
				>
				</h2>
				<p class="mx-auto max-w-3xl text-center text-xl text-gray-600 dark:text-slate-400" data-i18n="pillars.subtitle">
				</p>
			</div>
			<div class="my-12 grid items-start gap-6 dark:text-white md:grid-cols-2 lg:grid-cols-2">
				{
					items.map(({ titleKey, descKey, icon }) => (
						<div class="relative flex flex-col rounded bg-white p-6 shadow-xl transition hover:shadow-lg dark:border dark:border-slate-800 dark:bg-slate-900">
							<div class="mb-4 flex items-center">
								<Icon name={icon} class="h-12 w-12" />
								<div class="ml-4 text-xl font-bold" data-i18n={titleKey} />
							</div>
							<p class="text-md text-gray-500 dark:text-gray-400" data-i18n={descKey} />
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
