---
import { Icon } from 'astro-icon/components';
---

<section class="bg-gradient-to-r from-primary-100 to-secondary-100 dark:from-slate-800 dark:to-slate-700">
	<div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
		<span class="font-bold"> <Icon name="tabler:sparkles" class="w-5 h-5 inline-block align-text-bottom" /> OWL特色:</span> 开放 · 交叉 · 连接 · 可持续 · 黑科技 · 实践驱动
	</div>
</section>
