---
import { Icon } from 'astro-icon/components';
import { Picture } from 'astro:assets';
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
	<div class="grid gap-6 row-gap-10 md:grid-cols-2">
		<div class="md:pb-6 md:pr-16">
			<h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading" id="about">
				发展历程：从清华到深圳
			</h2>
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full border-primary-600 border-2">
							<Icon name="tabler:arrow-down" class="w-6 h-6 text-primary-600 dark:text-slate-200" />
						</div>
					</div>
					<div class="w-px h-full bg-gray-300 dark:bg-slate-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">2012 - 诞生于清华</p>
					<p class="text-gray-600 dark:text-slate-400">
						在郑泉水院士和徐芦平老师的主导下，钱学森力学班在清华大学微纳中心建立了第一个猫头鹰实验室。初心简单：让有好奇心的人、天马行空的想法和有趣的问题在此汇聚和激发。
					</p>
				</div>
			</div>
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full border-primary-600 border-2">
							<Icon name="tabler:arrow-down" class="w-6 h-6 text-primary-600 dark:text-slate-200" />
						</div>
					</div>
					<div class="w-px h-full bg-gray-300 dark:bg-slate-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">2021 - 深圳坪山基地</p>
					<p class="text-gray-600 dark:text-slate-400">
						随着深圳零一学院的成立，在坪山建成占地6500平方米的主空间，配备从基础工具到不同学科专业设备的全系列仪器装备，OWL扩展为完整的教育体系。
					</p>
				</div>
			</div>
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full border-primary-600 border-2">
							<Icon name="tabler:arrow-down" class="w-6 h-6 text-primary-600 dark:text-slate-200" />
						</div>
					</div>
					<div class="w-px h-full bg-gray-300 dark:bg-slate-500"></div>
				</div>
				<div class="pt-1 pb-8">
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">2022 - 清华李兆基</p>
					<p class="text-gray-600 dark:text-slate-400">
						在清华大学李兆基大楼建立分空间，保持与清华创新生态的紧密连接，继续支持清华学生创新探索。
					</p>
				</div>
			</div>
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-10 h-10 rounded-full border-primary-600 border-2 bg-primary-600">
							<Icon name="tabler:rocket" class="w-6 h-6 text-white dark:text-slate-200" />
						</div>
					</div>
				</div>
				<div class="pt-1">
					<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">2024 - 南山总部</p>
					<p class="text-gray-600 dark:text-slate-400">在南山建立总部分空间，进一步扩大影响力，每年服务成百上千名具有创新潜质的学生。</p>
				</div>
			</div>
		</div>
		<div class="relative">
			<Picture
				class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
				src={import('~/assets/images/astronaut.jpg')}
				widths={[400, 768]}
				sizes="(max-width: 768px) 100vw, 432px"
				alt="Astronaut"
				aspectRatio="432:768"
			/>
		</div>
	</div>
</section>
