---
import type { BlogPost } from '~/types/BlogPost';
import Item from '~/components/blog/ListItem.astro';

const { posts } = Astro.props;

interface Props {
	posts: BlogPost[];
}
---

<ul>
	{
		posts.map((post: BlogPost) => (
			<li class="mb-10 md:mb-16">
				<Item post={post} />
			</li>
		))
	}
</ul>
